.Character__List {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);
  column-gap: 10px;
  row-gap: 10px;

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;
}

.Character__Item-Photo img {
  display: block;
  max-width: 100%;
}

.Button a {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;

  padding: 13px;

  text-align: center;
  background-color: yellowgreen;
  color: white;
  text-decoration: none;
}
